body{
	font-family: fantasy;
}

#boxxingStartt{
	text-align: center;
	margin: 60px;
}

#C3mterBoxx{
	margin: 0 auto;
	width: 500px;
	height: 400px;
	text-align: center;
	box-shadow: 3px 2px 4px;
}

#endBox0{
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	width: auto;
	height: 100px;
	background-color: wheat;
	color: white;
	text-shadow: 3px 0px 2px black;
}

header{
	width: 0 auto;
	box-shadow: black 2px 1px 4px;
	box-align: center;
	display: block;
	overflow:hidden;
	margin: 0 auto;
}

.wrapper {
	width:90%;
	max-width:1000px;
	margin:auto;
	overflow:hidden;
}

header nav {
	float: left;
	line-height:100px;
	display: flex;
	list-style: none;
}

header nav a {
	color:black;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
}header nav a:hover{color: yellow; text-shadow: black 1px 1px 4px;}

@media (max-width: 480px){

	#C3mterBoxx{
		width: 300px;
		height: 400px;
	}

	#endBox0{
		width: 400px;
		height: 100px;
		margin-top: 100px;
	}

		header nav a{
		font-size: 16px;
	}

	header{
		height: 120px;
		width: 400px;
	}
}